<html xlmns:th="http://www.thymeleaf.org">
<head>
  <title>TODO supply a title</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav th:fragment="nav" class="navbar bg-dark text-white navbar-expand-lg navBar">
    <div class="containerImg">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <img th:src="@{/images/egg.png}"class="d-block mx-lg-auto img-fluid" alt="Temas de arranque" width="40" height="40" loading="lazy">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto elementos">
        <li class="nav-item">
          <a class="nav-link " sec:authorize="hasRole('ADMINISTRADOR')" href="/admin" id="navbarDropdown" role="button" aria-expanded="false">
           Administración
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " sec:authorize="hasRole('PERIODISTA')" href="/periodista" id="navbarDropdown" role="button" aria-expanded="false">
            Administración
          </a>
        </li>

        <li class="nav-item dropdown" th:if="${session.usuariosession != null}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Perfil
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/logout" >Cerrar Sesión</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link " th:if="${session.usuariosession == null}" href="/registrar" id="navbarDropdown" role="button" aria-expanded="false">
            Registrate!
          </a>

        </li>
        <li class="nav-item">
          <a class="nav-link " th:if="${session.usuariosession == null}" href="/login" id="navbarDropdown" role="button" aria-expanded="false">
            LOGIN!
          </a>

        </li>
      </ul>
    </div>
  </nav>
</body>
</html>
